# N=1000 actual updates: local labels 0 through 999.
u begin Inject ancestor.org
u 999 PrintTasksData
u 999 PrintCountData
u 999 PrintAverageData
u 999 PrintTimeData
u 999 SavePopulation filename=population:save_historic=0
u 999 Exit
